.listViewPortal {
  display: table;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: relative;
  top: -60px;
  transition: left 0.30s ease-in-out;
  width: 200%;
  z-index: 1;
}

.groups { left: 0; }
.friends { left: -100%; }